*.[oa]
*~
*.d
*.ap_
*.dep
*.hmap
*.suo

testcard/proj.win32/Debug.win32/*.tlog
testcard/proj.win32/Debug.win32/testcard.lastbuildstate
testcard/proj.win32/Debug.win32/vc110.idb
testcard/proj.win32/UpgradeLog.XML
testcard/proj.win32/UpgradeLog.htm
testcard/proj.win32/_UpgradeReport_Files/UpgradeReport.css
testcard/proj.win32/_UpgradeReport_Files/UpgradeReport.xslt
testcard/proj.win32/_UpgradeReport_Files/UpgradeReport_Error.png
testcard/proj.win32/_UpgradeReport_Files/UpgradeReport_Information.png
testcard/proj.win32/_UpgradeReport_Files/UpgradeReport_Success.png
testcard/proj.win32/_UpgradeReport_Files/UpgradeReport_Warning.png
testcard/proj.win32/testcard.opensdf
testcard/proj.win32/testcard.sdf
