*.[oa]
*~
*.d
*.ap_
*.dep
*.hmap
*.suo

testcard/proj.win32/Debug.win32/CL.1832.read.1.tlog
testcard/proj.win32/Debug.win32/CL.1832.write.1.tlog
testcard/proj.win32/Debug.win32/CL.2660.read.1.tlog
testcard/proj.win32/Debug.win32/CL.2660.write.1.tlog
testcard/proj.win32/Debug.win32/CL.3544.read.1.tlog
testcard/proj.win32/Debug.win32/CL.3544.write.1.tlog
testcard/proj.win32/Debug.win32/CL.4108.read.1.tlog
testcard/proj.win32/Debug.win32/CL.4108.write.1.tlog
testcard/proj.win32/Debug.win32/CL.4776.read.1.tlog
testcard/proj.win32/Debug.win32/CL.4776.write.1.tlog
testcard/proj.win32/Debug.win32/CL.5240.read.1.tlog
testcard/proj.win32/Debug.win32/CL.5240.write.1.tlog
testcard/proj.win32/Debug.win32/CL.5792.read.1.tlog
testcard/proj.win32/Debug.win32/CL.5792.write.1.tlog
testcard/proj.win32/Debug.win32/CL.read.1.tlog
testcard/proj.win32/Debug.win32/cl.command.1.tlog
testcard/proj.win32/Debug.win32/cl.write.1.tlog
testcard/proj.win32/Debug.win32/link-cvtres.read.1.tlog
testcard/proj.win32/Debug.win32/link-cvtres.write.1.tlog
testcard/proj.win32/Debug.win32/link-rc.read.1.tlog
testcard/proj.win32/Debug.win32/link-rc.write.1.tlog
testcard/proj.win32/Debug.win32/link.command.1.tlog
testcard/proj.win32/Debug.win32/link.read.1.tlog
testcard/proj.win32/Debug.win32/link.write.1.tlog
testcard/proj.win32/Debug.win32/testcard.lastbuildstate
testcard/proj.win32/Debug.win32/vc110.idb
testcard/proj.win32/UpgradeLog.XML
testcard/proj.win32/UpgradeLog.htm
testcard/proj.win32/_UpgradeReport_Files/UpgradeReport.css
testcard/proj.win32/_UpgradeReport_Files/UpgradeReport.xslt
testcard/proj.win32/_UpgradeReport_Files/UpgradeReport_Error.png
testcard/proj.win32/_UpgradeReport_Files/UpgradeReport_Information.png
testcard/proj.win32/_UpgradeReport_Files/UpgradeReport_Success.png
testcard/proj.win32/_UpgradeReport_Files/UpgradeReport_Warning.png
testcard/proj.win32/testcard.opensdf
testcard/proj.win32/testcard.sdf
